<div class="background container-fluid g-0">
  <div class="row">
    <!--Navbar-->
    <app-nav-bar></app-nav-bar>
    <!-- Sidebar -->
    <nav
      id="sidebar"
      class="col-md-3 col-lg-2 d-md-block .bg-transparent sidebar"
    >
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mt-4">
            <a class="nav-link" routerLink="student"> Quản lý học sinh </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="quiz"> Quản lý câu hỏi </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="subject"> Môn học </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="history"> Lịch sử làm bài </a>
          </li>
          
        </ul>
      </div>
    </nav>

    <!-- Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
