
.container-main{
  opacity: 0;
}
.result{
  opacity: 0;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subjectselect label {
  color: #fcfbf4;
}

.select-title h1 {
  color: #fcfbf4;
}

.subjectselect label {
  font-size: 1.25rem;
}

.subjectselect select {
  width: 200px;
  height: 40px;
}

.subjectselect option {
  padding: 0;
  margin: 0;
  text-align: left;
}

.button {
  margin-top: 0.75rem;
}

.button button {
  padding: 12px 20px;
  margin: 0.625rem 0.625rem;
  background-color: #ff631a;
  border-radius: 4px;
  border: none;
}

.button button:hover {
  background: rgba(255, 99, 26, 0.6);
  transition: 0.5s;
  cursor: pointer;
}

.mandatory {
  color: red;
}
.text-danger {
  color: red;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid blue;
}

ol {
  padding: 0;
}

.selected{
  background-color: #00b800;
  color: #fff;
}
