<div class="background">
  <div class="header">
    <div class="logo">
      <a id="logo" routerLink="">ProPrep.vn</a>
    </div>
    <div class="navibar">
      <a id="home" routerLink="">Trang chủ</a>
      <a id="about" routerLink="/login">Về trang web</a>
      <a id="test" routerLink="/login">Luyện thi</a>
      <a id="library" routerLink="/login">Thư viện</a>
      <a id="bookshelf" routerLink="/login">Giá sách</a>
      <a id="pomodoro" routerLink="/login">Pomodoro</a>
    </div>
    <div class="auth">
      <button id="login" routerLink="/login">Đăng nhập</button>
      <button id="signup" routerLink="/signup">Đăng ký</button>
    </div>
  </div>
  <div class="body">
    <div class="welcome-paragraph">
      <small>Chào mừng bạn đã đến với</small>
      <p id="welcome">ProPrep.vn!</p>
      <br />
      <p id="center-text">
        Hãy đăng ký và bắt đầu hành trình ôn luyện cùng chúng tôi ngay hôm nay!
        <br />Chúc bạn học tập hiệu quả và đạt được mục tiêu cao nhất!
      </p>
    </div>
    <div class="welcome-auth">
      <button id="login" routerLink="/login">Ôn luyện ngay!</button>
    </div>
  </div>
</div>
