<div class="background container-fluid g-0">

  <div class="body">
    <div class="welcome-paragraph">
      <small>Chào mừng bạn đã đến với</small>
      <p id="welcome">ProPrep.vn!</p>
      <br />
      <p id="center-text">
        Hãy đăng ký và bắt đầu hành trình ôn luyện cùng chúng tôi ngay hôm nay!
        <br />Chúc bạn học tập hiệu quả và đạt được mục tiêu cao nhất!
      </p>
    </div>
    <div class="welcome-auth">
      <button id="login" routerLink="/login">Ôn luyện ngay!</button>
    </div>
  </div>
</div>
