<div class="background">
  <div class="header">
    <div class="logo">
      <a id="logo" routerLink="">ProPrep.vn</a>
    </div>
    <div class="navibar">
      <a id="home" routerLink="">Trang chủ</a>
      <a id="about" routerLink="/login">Về trang web</a>
      <a id="test" routerLink="/login">Luyện thi</a>
      <a id="library" routerLink="/login">Thư viện</a>
      <a id="bookshelf" routerLink="/login">Giá sách</a>
      <a id="pomodoro" routerLink="/login">Pomodoro</a>
    </div>
    <div class="auth">
      <button id="login" routerLink="/login">Đăng nhập</button>
      <button id="signup" routerLink="/signup">Đăng ký</button>
    </div>
  </div>
  <div class="body">
    <div class="login">
      <div class="heading">
        <h1>Đăng nhập</h1>
      </div>
      <div class="form">
        <form [formGroup]="signinForm">
          <div class="form-group">
            <label class="form-text"
              >Tên đăng nhập<span class="mandatory"> *</span></label
            >
            <div
              class="input-field"
              [class.error]="
                signinForm.controls['username'].dirty &&
                signinForm.hasError('required', 'username')
              "
            >
              <span class="fa fa-user"></span>
              <input formControlName="username" type="text" />
            </div>
          </div>
          <small
            *ngIf="
              signinForm.controls['username'].dirty &&
              signinForm.hasError('required', 'username')
            "
            class="text-danger"
            >Cần tên đăng nhập của bạn!</small
          >
          <div class="form-group">
            <label class="form-text"
              >Password<span class="mandatory"> *</span></label
            >
            <div
              class="input-field"
              [class.error]="
                signinForm.controls['password'].dirty &&
                signinForm.hasError('required', 'password')
              "
            >
              <span class="fa fa-lock"></span>
              <input formControlName="password" [type]="type" />
              <span (click)="showPassword()" class="fa {{ eyeIcon }}"></span>
            </div>
          </div>
          <small
            *ngIf="
              signinForm.controls['password'].dirty &&
              signinForm.hasError('required', 'password')
            "
            class="text-danger"
            >Cần mật khẩu của bạn!</small
          >
          <div>
          <button
            (click)="onSignIn()"
            type="submit"
            class="login-button"
          >
            Đăng nhập
          </button>
        </div>
          <div>
            Không có tài khoản?
            <a id="signupnow" routerLink="/signup"> Đăng ký ngay!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
