<div class="background">
  <div class="body">
    <div class="login">
      <div class="heading">
        <h1>Đăng nhập</h1>
      </div>
      <div class="form">
        <form [formGroup]="signinForm">
          <div class="form-group">
            <label class="form-text"
              >Tên đăng nhập<span class="mandatory"> *</span></label
            >
            <div
              class="input-field"
              [class.error]="
                signinForm.controls['UserName'].dirty &&
                signinForm.hasError('required', 'UserName')
              "
            >
              <span class="fa-solid fa-user p-2"></span>
              <input formControlName="UserName" type="text" />
            </div>
          </div>
          <small
            *ngIf="
              signinForm.controls['UserName'].dirty &&
              signinForm.hasError('required', 'UserName')
            "
            class="text-danger"
            >Cần tên đăng nhập của bạn!</small
          >
          <div class="form-group">
            <label class="form-text"
              >Password<span class="mandatory"> *</span></label
            >
            <div
              class="input-field"
              [class.error]="
                signinForm.controls['Password'].dirty &&
                signinForm.hasError('required', 'Password')
              "
            >
              <span class="fas fa-lock p-2"></span>
              <input formControlName="Password" [type]="type" />
              <span (click)="showPassword()" class="fas {{ eyeIcon }}"></span>
            </div>
          </div>
          <small
            *ngIf="
              signinForm.controls['Password'].dirty &&
              signinForm.hasError('required', 'Password')
            "
            class="text-danger"
            >Cần mật khẩu của bạn!</small
          >
          <div>
          <button
            (click)="onSignIn()"
            type="submit"
            class="login-button"
          >
            Đăng nhập
          </button>
        </div>
          <div>
            Không có tài khoản?
            <a id="signupnow" routerLink="/signup"> Đăng ký ngay!</a>
          </div>
        </form>
      </div>
    </div>
</div>
