<div class="row h-100 align-items-center justify-content-center">
  <div class="col-md-12 mx-auto">
    <div class="card align-items-center justify-content-center">
      <div class="card-image mb-4">
        <img src="/assets/img/403.png" style="height: 300px; width: 300px" />
      </div>
      <div class="d-flex class-content
      flex-column align-items-center justify-content-center my-2">
        <h1 class="class-title">403 - ACCESS DENIED</h1>
        <p>Bạn không được phép vào trang này!</p>
        <button mat-raised-button color="primary" routerLink="">
          Về trang chủ
        </button>
      </div>
    </div>
  </div>
</div>
