<div class="background">
    <app-nav-bar></app-nav-bar>
    <div class="body">
      <div class="title"><h1>Bạn muốn làm gì?</h1></div>
      <div class="selection">
        <div class="test">
          <button routerLink="quiz">quiz</button>
        </div>
        <div class="pomodoro">
          <button routerLink="pomodoro">pomodoro</button>
        </div>
        <div class="dashboard">
          <button routerLink="dashboard">dashboard</button>
        </div>
      </div>
    </div>
</div>



