

.body {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.title h1 {
  font-size: 2rem;
  color: #fcfbf4;
}

.selection{
  display: flex;
  flex-direction: row;
}

.selection button {
  padding: 20px 32px;
  font-size: 1.125rem;
  color: #fcfbf4;
  cursor: pointer;
  background: transparent;
  color: #fcfbf4;
  background-color: #ff631a;
  margin: 0.625rem 0.625rem;
  border-radius: 8px;
  border: none;
}
