* {
  font-family: "Lexend", sans-serif;
}

.background {
  background-color: #0b0b45;
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2rem;
  text-decoration: none;
  color: #ff631a;
  margin: 10px 10px;
}

.navibar a {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fcfbf4;
  margin: 0 20px;
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.navibar a:hover {
  transform: translateY(-4px);
}

#home {
  color: #ff631a;
}

.auth button {
  padding: 20px 32px;
  font-size: 1.125rem;
  color: #fcfbf4;
  cursor: pointer;
  background: transparent;
  margin: 0.625rem 0;
}

#login {
  border: none;
}

#signup {
  color: #fcfbf4;
  background-color: #ff631a;
  margin: 0.625rem 0.625rem;
  border-radius: 8px;
  border: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.panel-heading{
  text-align: center;
  margin-bottom: 10px;
}

.login-button {
  padding: 20px 32px;
  font-size: 1.125rem;
  color: #fcfbf4;
  cursor: pointer;
  background: transparent;
  background-color: #ff631a;
  margin: 0.625rem 0.625rem;
  border-radius: 8px;
  border: none;
}

.input-field {
  border-radius: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
}

#signinnow {
  text-decoration: none;
}

.input-field.error {
  border: 1px solid red;
  color: red;
}
input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}
.mandatory {
  color: red;
}
.text-danger {
  color: red;
}
.btn {
  margin-top: 20px;
  border-radius: 2px;
}
/* Media Query*/

@media screen and (max-width: 1280px) {
  .navibar a {
    margin: 0 0.625rem;
  }

  .auth button {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 992px) {
  #logo {
    font-size: 1.5rem;
  }

  .navibar a {
    margin: 0 0.5rem;
    font-size: 1rem;
  }

  .auth button {
    padding: 12px 18px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 1rem;
  }

  .navibar a {
    margin: 0 0.5rem;
    font-size: 0.75rem;
  }

  .auth button {
    padding: 8px 12px;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  #logo {
    font-size: 1rem;
  }

  .navibar a {
    margin: 0 0.325rem;
    font-size: 0.5rem;
  }

  .auth button {
    padding: 4px 6px;
    font-size: 0.5rem;
  }
}
