<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="content">
    <mat-toolbar class="content-title" color="primary"> Đăng ký </mat-toolbar>
    <mat-card>
      <form [formGroup]="signupForm">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Tên</mat-label>
              <input
                matInput
                placeholder="Tên"
                formControlName="FirstName"
                type="text"
              />

              <mat-error *ngIf="checkValidation('FirstName')">
                {{ fieldRequired }}
              </mat-error>

            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Họ</mat-label>
              <input
                matInput
                placeholder="Họ"
                formControlName="LastName"
                type="text"
              />
              <mat-error *ngIf="checkValidation('LastName')">
                {{ fieldRequired }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Tên đăng nhập</mat-label>
          <input
            matInput
            placeholder="Tên đăng nhập"
            formControlName="UserName"
            type="text"
          />
          <mat-error *ngIf="checkValidation('UserName')">
            {{ fieldRequired }}
          </mat-error>
          <mat-error *ngIf="m.UserName.errors?.noSpaceAllowed">
            {{fieldRequired}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <mat-label>Mật khẩu</mat-label>
          <input
            formControlName="Password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint
            ><span
              >Mật khẩu cần ít nhất là sáu ký tự, bao gồm ít nhất một chữ cái in
              hoa và một chữ số.</span
            >
          </mat-hint>
          <mat-error *ngIf="checkValidation('Password')">
            {{ getErrorPassword() }}
          </mat-error>
          <mat-error *ngIf="m.Password.errors?.noSpaceAllowed">
            {{fieldRequired}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Email *"
            formControlName="Email"
          />
          <mat-error *ngIf="checkValidation('Email')">
            {{ emailErrors() }}
          </mat-error>
        </mat-form-field>
        <div class="footer">
          <button
            mat-raised-button
            color="primary"
            (click)="onSignUp()"
            type="submit"
          >
            Đăng ký
          </button>
          <span
            >Đã có tài khoản?
            <a id="signinnow" routerLink="/login" color="primary">
              Đăng nhập ngay!</a
            ></span
          >
        </div>
      </form>
    </mat-card>
  </div>
</div>
