<div class="background">

  <div class="body">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Đăng ký</h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="signupForm">
                <!--Fullname-->
                <div class="form-group pt-3">
                  <label class="form-text"
                    >Tên đầy đủ<span class="mandatory"> *</span></label
                  >
                  <div
                    class="input-field"
                    [class.error]="
                      signupForm.controls['FullName'].dirty &&
                      signupForm.hasError('required', 'FullName')
                    "
                  >
                    <span class="fas fa-address-card p-2"></span>
                    <input formControlName="FullName" type="text" />
                  </div>
                </div>
                <small
                  *ngIf="
                    signupForm.controls['FullName'].dirty &&
                    signupForm.hasError('required', 'FullName')
                  "
                  class="text-danger"
                  >Bạn cần nhập tên đầy đủ của mình!</small
                >
                <!--Username-->
                <div class="form-group pt-3">
                  <label class="form-text"
                    >Tên đăng nhập<span class="mandatory"> *</span></label
                  >
                  <div
                    class="input-field"
                    [class.error]="
                      signupForm.controls['UserName'].dirty &&
                      signupForm.hasError('required', 'UserName')
                    "
                  >
                    <span class="fas fa-user p-2"></span>
                    <input type="text" formControlName="UserName" />
                  </div>
                </div>
                <small
                  *ngIf="
                    signupForm.controls['UserName'].dirty &&
                    signupForm.hasError('required', 'UserName')
                  "
                  class="text-danger"
                  >Bạn cần điền tên đăng nhập!</small
                >
                <!--Password-->
                <div class="form-group pt-3">
                  <label class="form-text"
                    >Mật khẩu<span class="mandatory"> *</span></label
                  >
                  <div
                    class="input-field"
                    [class.error]="
                      signupForm.controls['Password'].dirty &&
                      signupForm.hasError('required', 'Password')
                    "
                  >
                    <span class="fas fa-lock p-2"></span>
                    <input [type]="type" formControlName="Password" />
                    <span
                      (click)="showPassword()"
                      class="fa {{ eyeIcon }}"
                    ></span>
                  </div>
                  <span class="form-text"
                    >Nhắc nhở: Không bao giờ chia sẻ Mật khẩu của bạn với bất kỳ ai.</span
                  >
                </div>
                <small
                  *ngIf="
                    signupForm.controls['Password'].dirty &&
                    signupForm.hasError('required', 'Password')
                  "
                  class="text-danger"
                  >Bạn cần điền mật khẩu!</small
                >
                <!--Phone Number-->
                <div class="form-group pt-3">
                  <label class="form-text"
                    >Số điện thoại<span class="mandatory"> *</span></label
                  >
                  <div
                    class="input-field"
                    [class.error]="
                      signupForm.controls['PhoneNumber'].dirty &&
                      signupForm.hasError('required', 'PhoneNumber')
                    "
                  >
                    <span class="fas fa-phone-square-alt p-2"></span>
                    <input type="text" formControlName="PhoneNumber" />
                  </div>
                </div>
                <small
                  *ngIf="
                    signupForm.controls['PhoneNumber'].dirty &&
                    signupForm.hasError('required', 'PhoneNumber')
                  "
                  class="text-danger"
                  >Bạn cần điền số điện thoại</small
                >

                <button
                  (click)="onSignUp()"
                  type="submit"
                  class="btn btn-primary btn-block mt-4 w-100"
                >
                  Đăng ký!
                </button>
                <div class="text-center pt-4 text-muted">
                  Bạn đã có tài khoản? 
                  <a id="signinnow" routerLink="/login">Đăng nhập ngay!</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
